<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="i.salt.you.sensor"
        version="0.1.0">

  <name>Sensor</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/sensor.js" name="sensor">
    <clobbers target="Sensor" />
  </js-module>

  <!-- wp8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="Sensor">
        <param name="wp-package" value="Sensor"/>
      </feature>
    </config-file>

    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_SENSORS" />
    </config-file>
    
    <source-file src="src/wp8/Sensor.cs"/>
  </platform>

</plugin>